<div fxFill fxLayout="column" fxLayoutAlign="start stretch">
    <div class="mt-fill" fxLayout="row" fxLayoutAlign="start stretch" fxFlex="0 1 calc(50%)">
        <div fxFlex="0 1 calc(50%)" fxLayoutAlign="center center">
            <app-youtube-video class="mt-fill" #video>
            </app-youtube-video>
        </div>
        <div fxFlex="0 1 calc(50%)" fxLayoutAlign="center center">
            <app-youtube-video-controls class="mt-fill" #videoController>
            </app-youtube-video-controls>
        </div>
    </div>
    <div class="mt-fill" fxLayout="row" fxLayoutAlign="start stretch" fxFlex="0 1 calc(50%)">
        <div fxFlex="0 1 calc(50%)" fxLayoutAlign="center center" style="max-height: 50%;">
            <!-- Help -->
            <mat-card class="mt-card-layout" fxLayout="row" fxLayoutAlign="center center">
                <markdown style="height: 100%; overflow-y: scroll;" [src]="'assets/user_manual.md'"></markdown>
            </mat-card>
        </div>
        <div fxFlex="0 1 calc(50%)" fxLayoutAlign="center center">
            <mat-card class="mt-card-layout" fxLayout="column" fxLayoutAlign="center stretch">
                <mat-tab-group class="mt-fill">
                    <mat-tab label="Loop Controls">
                        <app-youtube-loop-controls (captureStartTimeEvent)="onCaptureStartTime()"
                            (captureEndTimeEvent)="onCaptureEndTime()" (startLoopEvent)="onStartLoopRequest()"
                            #loopController class="mt-fill">
                        </app-youtube-loop-controls>
                    </mat-tab>
                    <mat-tab label="Metronome">
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </div>
    </div>
</div>