<div fxFill fxLayout="column" fxLayoutAlign="start stretch">
    <div class="mt-fill" fxLayout="row" fxLayoutAlign="start stretch" fxFlex="0 1 calc(50%)">
        <div fxFlex="0 1 calc(50%)" fxLayoutAlign="center center">
            <app-youtube-video [videoSettings]="videoSettings" [loopSettings]="loopSettings"
                (onVideoSettingsChanged)="onVideoSettingsChanged($event)"
                (onLoopSettingsChanged)="onLoopSettingsChanged($event)" class="mt-fill" #video>
            </app-youtube-video>
        </div>
        <div fxFlex="0 1 calc(50%)" fxLayoutAlign="center center">
            <app-youtube-video-controls [videoSettings]="videoSettings"
                (onVideoSettingsChanged)="onVideoSettingsChanged($event)" class="mt-fill" #videoController>
            </app-youtube-video-controls>
        </div>
    </div>
    <div class="mt-fill" fxLayout="row" fxLayoutAlign="start stretch" fxFlex="0 1 calc(50%)">
        <div fxFlex="0 1 calc(50%)" fxLayoutAlign="center center">
            <!-- Help -->
            <mat-card class="mt-card-layout" fxLayout="row" fxLayoutAlign="center center">
                <p>Help goes here</p>
            </mat-card>
        </div>
        <div fxFlex="0 1 calc(50%)" fxLayoutAlign="center center">
            <app-youtube-loop-controls [videoSettings]="videoSettings" [loopSettings]="loopSettings"
                (onLoopSettingsChanged)="onLoopSettingsChanged($event)" (captureStartTimeEvent)="onCaptureStartTime()"
                (captureEndTimeEvent)="onCaptureEndTime()" class="mt-fill" #loopController>
            </app-youtube-loop-controls>
        </div>
    </div>
</div>