.mt-card-half {
  height: calc(50% - 15px);
  width: calc(100% - 20px);
  box-sizing: border-box;
  margin: 10px 10px 10px 10px;
}

/* Overrides */
::ng-deep .mat-accent .mat-slider-thumb-label-text {
  color: #fff;
}

::ng-deep .mat-accent .mat-slider-track-fill,
::ng-deep .mat-accent .mat-slider-thumb,
::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: rgb(123, 31, 162);
}

::ng-deep .mat-slider-horizontal {
  width: 100%;
}

::ng-deep .mat-slider-vertical {
  height: 100%;
}
