<mat-grid-list class="gridList" cols=2 rowHeight="fit">
    <mat-grid-tile style="background-color: black;" colspan=1 rowspan=1>
        <!-- Video Display -->
        <app-youtube-video-wrapper></app-youtube-video-wrapper>
    </mat-grid-tile>
    <mat-grid-tile style="background-color: darkgray;" colspan=1 rowspan=1>
        <!-- Search -->
        <h1>Search</h1>
    </mat-grid-tile>
    <mat-grid-tile style="background-color:darkslategray;" colspan=2 rowspan=1>
        <!-- Video controls/Metronome -->
        <h1>Video controls</h1>
    </mat-grid-tile>
</mat-grid-list>