<mat-form-field class="number-input" appearance="fill">
    <mat-label>hour</mat-label>
    <input #hoursInput matInput (change)="onInputChange()" [disabled]="!fieldsEnabled" [readonly]="isReadOnly" min="0"
        max="999" value="0" pattern="[0-9]*" [type]="inputType">
</mat-form-field>
<mat-form-field class="number-input" appearance="fill">
    <mat-label>min</mat-label>
    <input #minutesInput matInput (change)="onInputChange()" [disabled]="!fieldsEnabled" [readonly]="isReadOnly" min="0"
        max="60" value="0" pattern="[0-9]*" [type]="inputType">
</mat-form-field>
<mat-form-field class="number-input" appearance="fill">
    <mat-label>sec</mat-label>
    <input #secondsInput matInput (change)="onInputChange()" [disabled]="!fieldsEnabled" [readonly]="isReadOnly" min="0"
        max="60" value="0" pattern="[0-9]*" [type]="inputType">
</mat-form-field>