<mat-card class="mat-elevation-z0" fxLayout="column" fxLayoutAlign="center stretch">
    <div fxLayout="row" fxFlex="0 1 calc(100%)" fxLayoutAlign="center center">
        <fieldset class="no-border">
            <legend>Start Time</legend>
            <div class="time-input-group">
                <app-time-input #startTimeInput (timeInputChangedEvent)="onStartTimeInputChanged($event)"
                    [fieldsEnabled]="canCaptureTime" [isReadOnly]="true"></app-time-input>
                <button mat-raised-button color="primary" (click)="onCaptureStartTime()"
                    [disabled]="!videoInfo.hasStarted">Capture
                    Start</button>
            </div>
        </fieldset>
        <fieldset class="no-border">
            <legend>End Time</legend>
            <div class="time-input-group">
                <app-time-input #endTimeInput (timeInputChangedEvent)="onEndTimeInputChanged($event)"
                    [fieldsEnabled]="canCaptureTime" [isReadOnly]="true"></app-time-input>
                <button mat-raised-button color="primary" (click)="onCaptureEndTime()"
                    [disabled]="!videoInfo.hasStarted">Capture
                    End</button>
            </div>
        </fieldset>
    </div>
    <div fxLayout="row" fxFlex="0 1 calc(100%)" fxLayoutAlign="center center">
        <fieldset class="no-border">
            <legend>Loop Delay</legend>
            <app-time-input #loopLengthInput [showMilliseconds]="false"
                (timeInputChangedEvent)="onLoopLengthInputChanged($event)">
            </app-time-input>
        </fieldset>
    </div>
    <div fxLayout="row" fxFlex="0 1 calc(100%)" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="toggleLoop()" [disabled]="!isLoopValid">
            {{ loopButtonText }}
        </button>
    </div>
</mat-card>